
.content-box{
	width: 896px;
	margin: 0 auto;
}
.content-title-left a{
	padding: 2px 14px;
	height:30px;
	background-color: #F04648;
	color: #FFFFFF;
	border-radius: 10px;
	margin: 0;
}
.select-pay-way,.select-pay-channel{
	border: 1px solid #F04648;
	border-radius: 10px;
}
.select-pay-way{
	padding-bottom: 32px;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.select-pay-channel{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 720px;
	position: relative;
}
.select-pay-way .title,.select-pay-channel .title{
	text-indent: 32px;
	color: #555555;
	margin: 20px auto 30px 0;
}
.main-way{
	width: 248px;
	height: 108px;
	border-right:1px solid #F04648;
	display: inline-block;
	float: left;
}
.main-way div{
  width: 180px;	
  text-indent: 52px;
  height: 48px;
  line-height: 48px;
  border-radius: 10px;
  margin: 0px 36px 0px 32px;
  color:#F04648;
  border: 1px solid #F04648;
}
.main-way div img{
	width: 24px;
	height: 20px;
	margin-right: 20px;
}
.main-way div:first-child{
	margin: 0px 36px 12px 32px;
}
.main-way div.active{		
	background-color: #F04648;
	color: white;
}
ul.second-way{
	width: 604px;
	height:108px;
	margin-left: 36px;
	display: inline-block;
	margin-bottom: 0;
	overflow-y: scroll;

}
ul.second-way li{
	width: 170px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #F04648;
	float: left;
	margin-right: 20px;	
	border-radius: 10px;
	color: #F04648;
	text-align: center;
}
ul.second-way li.active{
	background-color: #F04648;
	color: white;
}
.second-way li:first-child,.second-way li:nth-child(2),.second-way li:nth-child(3){
	margin-bottom: 12px;
}
.second-way li{
	margin-bottom: 12px;
}
ul.select-pay-channel-con,form{
	display: inline-block;
}
form{
	position: absolute;
	left:0;
	top:72px;
}
.userInfo-box{
	display: inline-block;
	width: 320px;
	height: 120px;
	border: 1px solid #F04648;
	margin-right: 5px;
	border-radius: 10px;
	padding-top: 30px;
	font-size: 14px;
	position: absolute;
	right: 14px;
	top:72px;
}
ul.select-pay-channel-con li{
	width: 530px;
	overflow: hidden;
}
ul.select-pay-channel-con li span{
	display: inline-block;
	background-color: #F04648;
	color: white;
	width: 172px;
	height: 24px;
	border-radius:10px 0 0 10px;
	border: 1px solid #F04648;
	font-size: 14px;
	text-align: center;
	margin: 0 6px 16px 32px;
	float: left;
}
ul.select-pay-channel-con li input{
	width: 320px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #F04648;
	border-radius: 0 10px 10px 0;
	float: left;
	color:#F04648;
	text-align: right;
	padding-right: 16px;
	font-size:14px;
}
select{ 
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;   
  -moz-appearance:none;   
  -webkit-appearance:none;   
  background: url(../../static/images/img_angel.png) no-repeat scroll 300px center transparent;
    width: 320px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #F04648;
	border-radius: 0 10px 10px 0;
	float: left;
	color: #F04648;
	text-align:center;	
	font-size:14px;
}
option{
	box-shadow: none;
	border: 1px solid #F04648!important;
	color: #F04648;
	text-align:center;	
	font-size:14px;
}
.userInfo-box img{
	float: left;
	margin: 0px 34px auto 36px;
}
.userInfo-text{
	float: left;
}
.userInfo-text p{
	margin-bottom: 0px;
	width:170px;
}
.annotation{
	margin-left: 32px;
	width: 172px;
	font-size: 12px;
}
ul.select-pay-channel-con li input.annotation-input{
	float: right;
	height: 112px;
	margin-bottom: 16px;
}
.select-pay-channel .bottom{
	width: 100%;
	position: absolute;
	bottom: 40px;
	text-align: center;
}
.bottom span{
	display: inline-block;
	width: 156px;
	height: 42px;
	line-height: 42px;
	color: white;
	background-color: #F04648;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
}
